apiVersion: v1
kind: PersistentVolume
metadata:
  name: alertmanager-pv
  labels:
    type: local
    app: alertmanager
spec:
  storageClassName: sdv-local-storage 
  capacity:
    storage: 8Gi 
  accessModes:
   - ReadWriteOnce
  hostPath:
    path: "/mnt/data/alertmanager" 
    type: DirectoryOrCreate
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - "{{ k8s_node_name.stdout }}"   # This must resolve to the node name where volume exists
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
  claimRef:
    namespace: monitoring
    name: storage-prometheus-alertmanager-0