apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-pv
  labels:
    type: local
    app: prometheus-server
spec:
  storageClassName: sdv-local-storage 
  capacity:
    storage: 8Gi 
  accessModes:
   - ReadWriteOnce 
  hostPath:
    path: "/mnt/data/prometheus" 
    type: DirectoryOrCreate 
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - "{{ k8s_node_name.stdout }}"  
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
  claimRef:
    namespace: monitoring
    name: prometheus-server